[project]
name = "mep"
channels = [
    # Uncomment the following lines to use local channels for development.
    # "file:///tmp/ecoscope-workflows/release/artifacts/",
    "file:///tmp/ecoscope-workflows-custom/release/artifacts/",
    'https://repo.prefix.dev/ecoscope-workflows/',
    'https://repo.prefix.dev/ecoscope-workflows-custom/',
    'conda-forge',
]
platforms = ['linux-64', 'osx-arm64', 'win-64']

[dependencies]
curl = "*"
rattler-build = "*"
yq = "*"
hatch = "*"

[feature.compile.dependencies]
ecoscope-workflows-core = "0.7.8.*"
ecoscope-workflows-ext-ecoscope = "0.7.8.*"
ecoscope-workflows-ext-mep = "*"
ecoscope-workflows-ext-custom = "0.0.3.*"

# Here we don't specify the channel on purpose, as we want to use the local channel if it exists,
# otherwise we fall back to the default channel.
# If you want to ensure a specific channel to incorporate your local changes, you can uncomment the line below.
# ecoscope-workflows-core = { version = "*", channel = "file:///tmp/ecoscope-workflows/release/artifacts/" }
# ecoscope-workflows-ext-ecoscope = { version = "*", channel = "file:///tmp/ecoscope-workflows/release/artifacts/" }
# ecoscope-workflows-ext-mep = { version = "*", channel = "file:///tmp/ecoscope-workflows-custom/release/artifacts/" }
# ecoscope-workflows-ext-custom = { version = "*", channel = "file:///tmp/ecoscope-workflows-custom/release/artifacts/" }

[environments]
compile = { features = ["compile"], no-default-feature = true }

[tasks]
[tasks.build-release]
cmd = './publish/build.sh'

[tasks.pytest-310]
cmd = './dev/pytest-task.sh 310'

[tasks.pytest-311]
cmd = './dev/pytest-task.sh 311'

[tasks.pytest-312]
cmd = './dev/pytest-task.sh 312'

[feature.compile.tasks.compile-ndvi]
cmd = './dev/recompile.sh ndvi --install'

[feature.compile.tasks.recompile-ndvi]
cmd = './dev/recompile.sh ndvi --update'

[feature.compile.tasks.compile-speedmap]
cmd = './dev/recompile.sh speedmap --install'

[feature.compile.tasks.recompile-speedmap]
cmd = './dev/recompile.sh speedmap --update'

[feature.compile.tasks.compile-collar-voltage]
cmd = './dev/recompile.sh collar-voltage --install'

[feature.compile.tasks.recompile-collar-voltage]
cmd = './dev/recompile.sh collar-voltage --update'

[feature.compile.tasks.compile-mep-monthly-report]
cmd = './dev/recompile.sh mep-monthly-report --install'

[feature.compile.tasks.recompile-mep-monthly-report]
cmd = './dev/recompile.sh mep-monthly-report --update'

[feature.compile.tasks.compile-collared_elephant_report]
cmd = './dev/recompile.sh collared_elephant_report --install'
depends-on = ["build-release"]

[feature.compile.tasks.recompile-collared_elephant_report]
cmd = './dev/recompile.sh collared_elephant_report --update'
depends-on = ["build-release"]