[workspace]
name = "mep"
channels = [
    # Uncomment the following lines to use local channels for development.
    # "file:///tmp/ecoscope-workflows/release/artifacts/",
    "file:///tmp/ecoscope-workflows-custom/release/artifacts/",
    'https://repo.prefix.dev/ecoscope-workflows/',
    'https://repo.prefix.dev/ecoscope-workflows-custom/',
    'conda-forge',
]
platforms = ['linux-64', 'osx-arm64', 'win-64']

[dependencies]
curl = "*"
rattler-build = "*"
yq = "*"
hatch = "*"
pip="*"
hatch-vcs = "*"

[feature.compile.dependencies]
ecoscope-workflows-ext-mep = "*"
ecoscope-workflows-ext-mnc = "0.0.7.*"
ecoscope-workflows-ext-ste = "0.0.16.*"
ecoscope-workflows-core = "0.22.9.*"
ecoscope-workflows-ext-custom = "0.0.28.*"

[environments]
compile = { features = ["compile"], no-default-feature = true }

[tasks]
[tasks.build-release]
cmd = './publish/build.sh'

[tasks.pytest-310]
cmd = './dev/pytest-task.sh 310'

[tasks.pytest-311]
cmd = './dev/pytest-task.sh 311'

[tasks.pytest-312]
cmd = './dev/pytest-task.sh 312'

[feature.compile.tasks.compile-mep-collared_report]
cmd = './dev/recompile.sh mep-collared_report --install'

[feature.compile.tasks.recompile-mep-collared_report]
cmd = './dev/recompile.sh mep-collared_report --update'

[feature.compile.tasks.compile-mep-monthly_report]
cmd = './dev/recompile.sh mep-monthly_report --install'

[feature.compile.tasks.recompile-mep-monthly_report]
cmd = './dev/recompile.sh mep-monthly_report --update'